.spell-frame-grey {
  background: url(./img/spell_dial_spell_frame_grey.png) center center no-repeat;
  border-radius: 50px;
  width: 65px;
  height: 65px;
}

.spell-chain {
  width: 65px;
  height: 65px;
  background: url(./img/spell_dial_spell_chain.png) center center no-repeat;
}